@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

/* 모달 스타일 설정 */
.custom-modal-dmbox-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxmodal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */

  width: 100%;
  height: 10%;
  align-items: center;
  /* background-color: lightblue; */
}

.boxbig-infocontainer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* Takes up 80% of modal-header */
  height: 100%;
  /* border: 1px solid #ccc; */
}

.boxinfo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* padding: 0 10px; */
  /* 디버깅용으로 경계선 */
  border: 1px solid #ccc;

  font-family: 'NanumSquare', sans-serif ;
  font-size: 1em;
  font-weight: bold;
  color: #000000; 
}

.boxinfo-container p {
  font-size: 2.5em; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;

  margin: 0px;

  font-family: 'NanumSquare', sans-serif ;
  /* font-size: 1em; */
  font-weight: bold;
  color: #000000; 
}

.boxinfo-container p span {
  /* veri peri */
  color: rgb(102, 103, 171);

  font-family: 'NanumSquare', sans-serif ;
  /* font-size: 1.3em; */
  font-weight: bold;
}


.box-receivedDM{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  height: 88%;
  /* border: 1px solid black; */
  /* background-color: rgb(163, 70, 70); */
}

.box-receivedDM {
  width: 100%;
  border-collapse: collapse;
}

.boxmodal-rowinformation {
  display: flex;
  justify-content: flex-start;
  /* padding: 8px; */
  border-bottom: 1px solid #ddd;
  
  /* background-color: beige; */
  width: 100%;
  height: 8%;
  
  font-family: 'NanumSquare', sans-serif ;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000; 
  border: 1px solid black;
}

.boxmodal-rowinformation .header {
  font-weight: bold;
  }
  
.boxmodal-rowinformation .column {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: auto;
  
  color: #ffffff; /* 글자 색상을 흰색으로 설정 */
  font-family: 'NanumSquare', sans-serif; /* 원하는 폰트 패밀리를 설정 */
  font-size: 1em; /* 원하는 글씨 크기를 설정 */
  font-weight: bold; /* 글씨 두께를 설정 */
  }
  
  .boxmodal-rowinformation .profile-picture {
    width: 7.3%;
    height: auto;
    background-color: #a094c4;
    
    /* border: 1px solid black; */
}

.boxmodal-rowinformation .sender-name {
  width: 10%;
  height: auto;
  background-color: #a094c4;
  
  /* border: 1px solid black; */
  }

.boxmodal-rowinformation .title {
  width: 54%;
  height: auto;
  background-color: #a094c4;
  
  /* border: 1px solid black; */
}

.boxmodal-rowinformation .read-status {
  width: 8.2%;
  height: auto;
  background-color: #a094c4;
  
  border: 1px solid black;
}

.boxmodal-rowinformation .sent-time {
  width: 21.5%;
  height: auto;
  background-color: #a094c4;
  border: 1px solid black;
  }

.boxclose-button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; /* Takes up 20% of modal-header */
  height: 10%;
  /* border: 1px solid black; */
}

.boxclose-button{
  padding: 10px 20px;
  background-color: #6667AB;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  font-family: 'NanumSquare', sans-serif ;
  font-size: 1em;
  font-weight: bold;

  margin-right: 20px;
}

.boxclose-button:hover {
  background-color: #4b4b7c;
}