.DMComponent {
  display: flex;
  flex-direction: column; /* 세로로 확장되도록 설정 */
  width: 100%;
  border: 1px solid black;
  background-color: lightcyan;
  overflow: hidden; /* overflow 숨기기 */
  transition: max-height 0.3s ease; /* 애니메이션 */
  max-height: 80px; /* 기본 높이 설정 */

  cursor: pointer;
}

.DMComponent:hover::after {
  opacity: 1; /* 커서를 올려놓으면 툴팁이 보이도록 설정 */
}

.DMComponent.expanded {
  max-height: 300px; /* 확장된 높이 설정 */
}

.DMComponent-header {
  display: flex;
  flex-direction: row;
  height: 60px; /* 헤더 높이 설정 */
}

.DMComponent-profilecontainer {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 7.2%;
  height: 100%;
  border: 1px solid black;
}

.DMComponent-profile-image {
  width: auto;          /* 이미지의 너비를 자동으로 설정 */
  height: 90%;         /* 이미지의 높이를 부모 요소의 높이에 맞게 설정 */
  max-height: 90%;     /* 이미지의 최대 높이를 부모 요소의 높이에 맞게 설정 */
  object-fit: contain;  /* 이미지가 컨테이너에 맞도록 설정 */
  border-radius: 50%;
  margin-left: 18%;
}

.DMComponent-sendername {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 10%;
  height: 100%;
  border: 1px solid black;
  padding-left: 10px;
}

.DMComponent-dmtitle {
  display: flex;
  flex-direction: column;
  width: 53.3%;
  height: 100%;
  border: 1px solid black;
  padding-left: 10px;
}

.DMComponent-dmstatus {
  width: 8.2%;
  height: 100%;
  border: 1px solid black;

  padding-left: 10px;
}

.DMComponent-senttime {
  width: 15%;
  height: 100%;
  border: 1px solid black;
  padding-left: 20px;
}

.DMComponent-dmmessage {
  display: block;
  padding: 10px;

  border: 1px solid black;
}

.DMComponent-expanded-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.DMComponent-expanded-buttoncontainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.DMComponent-expanded-buttoncontainer button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.DMComponent-expanded-buttoncontainer button:hover {
  background-color: #0056b3;
}