@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

.userlist-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: #d1d7ff;
  border: 1.5px solid #a094c4;
  border-radius: 10px;
}

.profile-image {
  width: 10%;
  height: 10%; 
  max-height: 80%; 
  object-fit: contain;
  border-radius: 50%;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.userlist-container p {
  /* font-family: 'Arial', sans-serif;  */
  font-family: 'NanumSquare', sans-serif ;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000; 
  margin: 0;
}